# Configurações de Conexão com a Nuvem Supabase
# Renomeie este arquivo para .env e preencha as variáveis para conexão automática out-of-the-box!

VITE_SUPABASE_URL=https://sua-url-do-projeto.supabase.co
VITE_SUPABASE_KEY=sua-chave-anon-public-do-supabase
